<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kelvinharron.qralarm">

    <permission
        android:name="com.example.googlemaps.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />
     
    <uses-permission android:name="com.example.googlemaps.permission.MAPS_RECEIVE" />
    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.CAMERA" />


    <application
        android:allowBackup="true"
        android:debuggable="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/MyMaterialTheme">
        <activity
            android:name=".ActivityMain">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ActivitySettings"
            android:label="Settings"
            android:parentActivityName=".ActivityMain">

            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
                <action android:name="com.example.kelvinharron.qralarm.MapsActivity" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ActivityMaps"
            android:label="@string/title_activity_maps"
            android:parentActivityName=".ActivitySettings" />
        <activity
            android:name=".ActivityAddNewAlarmTime"
            android:label="@string/add_new_alarm"
            android:parentActivityName=".ActivityMain" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".ActivityDismissAlarm"
            android:theme="@style/DismissTheme" />

        <receiver android:name=".AlarmReceiver" />
        <receiver
            android:name=".BootReceiver"
            android:enabled="false" />

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyAMwEl3VmYcUeXwTSxQ3wKD6n9vG8x--8E" />

    </application>

</manifest>